div.menuBar,
div.menuBar a.menuButton,
div.menu,
div.menu a.menuItem {
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  color: #CCCCCC;
}

#myMenu {
  border: 3px solid #000;
  background: #000;
}

div.menuBar {
  background-color: #000000;
  padding: 8px 0px 9px 0px;
  text-align: left;
}

div.menuBar a.menuButton {
  background-color: transparent;
  border: 1px solid #999999;
  color: #FFFFFF;
  cursor: default;
  left: 0px;
  margin: 0px;
  padding: 5px 10px 5px 10px;
  position: relative;
  text-decoration: none;
  top: 0px;
  z-index: 100;
}

div.menuBar a.menuButton:hover {
  background-color: transparent;
  border-color: #ffffff #ffffff #ffffff #ffffff;
  color: #AAAAAA;
}

div.menuBar a.menuButtonActive,
div.menuBar a.menuButtonActive:hover {
  background-color: #a0a0a0;
  border-color: #909090 #f0f0f0 #f0f0f0 #909090;
  color: #ffffff;
  left: 1px;
  top: 1px;
}

div.menu {
  background-color: #333333;
  border: 2px solid;
  left: 0px;
  padding: 4px 1px 4px 0px;
  position: absolute;
  top: 0px;
  visibility: hidden;
  z-index: 101;
}

div.menu a.menuItem {
  color: #cccccc;
  cursor: default;
  display: block;
  padding: 3px 2em;
  text-decoration: none;
  white-space: nowrap;
}

div.menu a.menuItem:hover, div.menu a.menuItemHighlight {
  background-color: #555555;
  color: #ffffff;
}

div.menu a.menuItem span.menuItemText {}

div.menu a.menuItem span.menuItemArrow {
}

div.menu div.menuItemSep {
  border-top: 1px solid #909090;
  border-bottom: 1px solid #f0f0f0;
  margin: 4px 2px;
}