/* ; FONT-SIZE: 15px */
#blockMenPrincipal {
	FONT-WEIGHT: bold; BACKGROUND: #fff; FLOAT: left; WIDTH: 100%; LINE-HEIGHT: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; PADDING: 0px; MARGIN: 0px
}
#blockMenPrincipal UL {
  PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#blockMenPrincipal .li_solapa_in {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 7px; BACKGROUND: #fff no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
#blockMenPrincipal .li_solapa_on {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 7px; BACKGROUND: #fff no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; BORDER-LEFT: 4px solid #000
}
#blockMenPrincipal .span_solapa_in {
	BACKGROUND: no-repeat right top; FLOAT: left
}
#blockMenPrincipal .enlace_solapa_in {
	PADDING-RIGHT: 7px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; TEXT-TRANSFORM: uppercase; PADDING-TOP: 4px; TEXT-DECORATION: none
}
#blockMenPrincipal .span_solapa_on {
	BACKGROUND: url(../img/bk_sepMPDer.gif) no-repeat right top; FLOAT: left
}
#blockMenPrincipal .enlace_solapa_on {
	PADDING-RIGHT: 7px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; TEXT-TRANSFORM: uppercase; PADDING-TOP: 4px; TEXT-DECORATION: none
}
#blockMenPrincipalBorde {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; HEIGHT: 5px
}
#blockMenSec {
	FONT-WEIGHT: bold; FLOAT: left; WIDTH: 100%; LINE-HEIGHT: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#blockMenSec UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#blockMenSec .li_subsolapa_in {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 7px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
#blockMenSec .li_subsolapa_on {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 7px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; BORDER-LEFT: 4px solid #000
}
#blockMenSec .enlace_subsolapa_in {
	PADDING-RIGHT: 7px; DISPLAY: block; PADDING-LEFT: 1px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 4px; TEXT-DECORATION: none
}
#blockMenSec .enlace_subsolapa_on {
	PADDING-RIGHT: 7px; DISPLAY: block; PADDING-LEFT: 1px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 4px; TEXT-DECORATION: none
}
#blockMenSec_vacio {
	FLOAT: left; WIDTH: 100%; LINE-HEIGHT: normal
}
#blockMenSecBorde {
	CLEAR: both; FONT-SIZE: 1px; FLOAT: left; WIDTH: 100%
}

#blockMenPrincipal .li_solapa_on {
	BACKGROUND-COLOR: #f90
}
#blockMenPrincipal .enlace_solapa_in {
	COLOR: #666
}
#blockMenPrincipal .enlace_solapa_on {
	COLOR: #fff
}
#blockMenPrincipalBorde {
	BACKGROUND: #f90
}
#blockMenSec {
	BACKGROUND: #f90
}
#blockMenSec .li_subsolapa_in {
	BACKGROUND: url(../img/bk_sepMPIzq2Ho.gif) #fff no-repeat left top
}
#blockMenSec .li_subsolapa_on {
	BACKGROUND: url(../img/bk_sepMPIzq2Ho.gif) #fc6 no-repeat left top
}
#blockMenSec .span_subsolapa_in {
	BACKGROUND: url(../img/bk_sepMPDer2Ho.gif) no-repeat right top; FLOAT: left
}
#blockMenSec .enlace_subsolapa_in {
	COLOR: #666666
}
#blockMenSec .span_subsolapa_on {
	BACKGROUND: url(../img/bk_sepMPDer2Ho.gif) no-repeat right top; FLOAT: left
}
#blockMenSec .enlace_subsolapa_on {
	COLOR: #cb3206
}
#blockMenSec_vacio {
	BACKGROUND: #f90; BORDER-BOTTOM: #fc6 10px solid; HEIGHT: 20px
}
#blockMenSecBorde {
	BACKGROUND: #fc6; HEIGHT: 10px
}
.hsolapa {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 0px
}
.hsubsolapa {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #f90; PADDING-TOP: 0px
}